{% extends "_layout" %}

{% set featureImage = {
  mode: 'crop',
  width: 300,
  height: 200,
  quality: 90
} %}

{% block content %}
  <div clas="container">
     <div class="row mb-2">
      <div class="col-6">
        <p>{{ 'art'|t }}</p>

        <h1 class="text-4xl text-black font-display my-4">{{ entry.title }}</h1>

        <p>{{ entry.bodyContent }}</p>
      </div>

      <div class="col-6">
        {% if entry.mainImage|length %}
          {% set image = entry.mainImage.first() %}
          <figure class="figure">
            <img src="{{ image.getUrl(featureImage) }}" class="figure-img img-fluid" alt="{{ image.title }}" />
            <figcaption class="figure-caption">{{ image.bodyContent }}</figcaption>
          </figure>
        {% endif %}
      </div>

    </div>
</div>
{% endblock %}