{% extends "_layout" %}

{% set featureImage = {
  mode: 'crop',
  width: 300,
  height: 200,
  quality: 90
} %}

{% set galleryImage = {
  mode: 'crop',
  width: 450,
  height: 280,
  quality: 90
} %}

{% set relatedImage = {
  mode: 'crop',
  width: 450,
  height: 280,
  quality: 90
} %}


{% set nextSiblingQuery = craft.entries()
    .section('room')
    .nextSiblingOf(entry)
    .limit(1) %}

{% set prevSiblingQuery = craft.entries()
    .section('room')
    .prevSiblingOf(entry)
    .limit(1) %}

{% set nextSiblings = nextSiblingQuery.all() %}
{% set prevSiblings = prevSiblingQuery.all() %}

{% set prevSibsCount = craft.entries.positionedBefore(entry).total() %}
{% set position = prevSibsCount + 1 %}

{% block content %}
  <div clas="container">
    <div class="row mb-2">
      <div class="col-6">
        {% set image = entry.mainImage.first() %}
        {% if not image is null %}
        <figure class="figure">
          <img src="{{ image.getUrl(featureImage) }}" class="figure-img img-fluid" alt="{{ image.title }}" />
          <figcaption class="figure-caption">{{ image.bodyContent }}</figcaption>
        </figure>
        {% endif %}
      </div>

      <div class="col-6">
        <h1 class="text-4xl text-black font-display my-4"><span class="badge bg-secondary">{{ position }}</span> {{ entry.title }}</h1>

        <h2>{{ entry.subtitle }}</h2>

        <p>{{ entry.bodyContent }}</p>
      </div>
    </div>

    {% if entry.images|length %}
    <div class="row bg-light mb-2">
      <div class="d-flex align-items-start flex-row">
        {% for image in entry.images.all() %}
        <div class="image me-3" style="width: 450px">
          <figure class="figure mb-3 mt-3">
            <img src="{{ image.getUrl(galleryImage) }}" class="figure-img img-fluid" alt="{{ image.title }}" />
            <figcaption class="figure-caption">{{ image.bodyContent }}</figcaption>
          </figure>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if entry.relatedItems|length %}
    <div class="row">

      <h2>{{ 'Related articles'|t }}</h2>

      <ul class="list-unstyled">
        {% for item in entry.relatedItems %}
          {% if item.mainImage|length %}
            {% set image = item.mainImage.first() %}
            <img src="{{ image.getUrl(featureImage) }}" alt="{{ image.title }}" />
            <p><small>{{ 'Architects'|t }}</small></p>
            <p><a href="{{ item.url }}">{{ item.title }}</a></p>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if not entry.HistoricalReferenceTitle is empty
          or not entry.HistoricalReferenceDating is empty
          or not entry.HistoricalReferenceImage is empty
          or not entry.HistoricalReferenceBodyContent is empty
    %}
    <div class="row bg-dark text-light mb-2">
      <h2>{{ 'Historical reference'|t }} {{ entry.HistoricalReferenceDating }}</h2>

      <div class="col-3">
        {% set image = entry.HistoricalReferenceImage.first() %}
        {% if not image is null %}
        <figure class="figure mb-3 mt-3">
          <img src="{{ image.getUrl(galleryImage) }}" class="figure-img img-fluid" alt="{{ image.title }}" />
          <figcaption class="figure-caption">{{ image.bodyContent }}</figcaption>
        </figure>
        {% endif %}
      </div>

      <div class="col-9">
         {{ entry.HistoricalReferenceBodyContent }}
      </div>
    </div>
    {% endif %}

  </div>

{# Display the entries #}
  <div class="row">
  {% for entry in nextSiblings %}
     <p><a href="{{ entry.url }}">{{ entry.title }} &raquo;</a></p>
  {% endfor %}
  {% for entry in prevSiblings %}
     <p><a href="{{ entry.url }}">&laquo; {{ entry.title }}</a></p>
  {% endfor %}
  </div>

</div>
{% endblock %}

